*{
    margin: 0;
    padding: 0;
}

.cabecalio {
    padding: 15px 25px;
    display: flax;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 249, 249);
}

.cartao{
    width: 260px;
    heigth: 260px;

}

.cartao-imagem {
    width: 100%;
    border-radius: 10px;
}

body {
    display: flax;
    flex-direction: colum;
    min-height: 100vh;
    background-color: rgb(228, 212, 212);
}

main {
    flex: 1;
}


.cabecalio-link {
    color: aliceblue;
    text-decoration: none;
}

h1 {
    color: rgb(18, 144, 100);
    front-size: 24px;
}

footer {
    background-color: rgb(31, 4, 57);
    padding: 15px 24px;
    color: rgb(120, 7, 17);
}

.cartao-interno {
    position: relative;
}

.cartao-frente, .cartao-verso {
    position: relative;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgb(90, 2, 17);
    backface-visibility: hidden;
}